<?xml version="1.0" ?>
<launch>    
    <param name="gazebo"                   value="true"    type="bool"/>
    <param name="webot"                   value="true"    type="bool"/>
    <param name="gazebo_robot_name"        value="amy"/>
    
    <param name="offset_file_path"         value="$(find op3_manager)/config/offset_wolfgang.yaml"/>
    <param name="robot_file_path"          value="$(find op3_manager)/config/OP3.robot"/>
    <param name="init_file_path"           value="$(find op3_manager)/config/dxl_init_wolfgang.yaml"/>
    <param name="device_name"              value="/dev/ttyUSB0"/>
    
    <!-- OP3 Manager -->
    <node pkg="op3_manager" type="op3_manager" name="op3_manager" output="screen">
        <!-- <remap from="/amy/joint_states" to="/joint_states"/>
        <remap from="/amy/DynamixelController/command" to="/DynamixelController/command"/> -->
    </node>
</launch>
